<div id="<%= dom_id tabela %>">
  <p>
    <strong>Nome principal:</strong>
    <%= tabela.nome_principal %>
  </p>

  <p>
    <strong>Unidade:</strong>
    <%= tabela.unidade %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= tabela.celular %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tabela.email %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= tabela.cidade %>
  </p>

  <p>
    <strong>Profissao:</strong>
    <%= tabela.profissao %>
  </p>

  <p>
    <strong>Zap:</strong>
    <%= tabela.zap %>
  </p>

  <p>
    <strong>Nome1:</strong>
    <%= tabela.nome1 %>
  </p>

  <p>
    <strong>Profissao1:</strong>
    <%= tabela.profissao1 %>
  </p>

  <p>
    <strong>Parentesco:</strong>
    <%= tabela.parentesco %>
  </p>

  <p>
    <strong>Nome2:</strong>
    <%= tabela.nome2 %>
  </p>

  <p>
    <strong>Profissao2:</strong>
    <%= tabela.profissao2 %>
  </p>

  <p>
    <strong>Parentesco2:</strong>
    <%= tabela.parentesco2 %>
  </p>

  <p>
    <strong>Nome3:</strong>
    <%= tabela.nome3 %>
  </p>

  <p>
    <strong>Profissao3:</strong>
    <%= tabela.profissao3 %>
  </p>

  <p>
    <strong>Parentesco3:</strong>
    <%= tabela.parentesco3 %>
  </p>

  <p>
    <strong>Nome4:</strong>
    <%= tabela.nome4 %>
  </p>

  <p>
    <strong>Profissao4:</strong>
    <%= tabela.profissao4 %>
  </p>

  <p>
    <strong>Parentesco4:</strong>
    <%= tabela.parentesco4 %>
  </p>

  <p>
    <strong>Nome5:</strong>
    <%= tabela.nome5 %>
  </p>

  <p>
    <strong>Profissao5:</strong>
    <%= tabela.profissao5 %>
  </p>

  <p>
    <strong>Parentesco5:</strong>
    <%= tabela.parentesco5 %>
  </p>

  <p>
    <strong>Ano compra:</strong>
    <%= tabela.ano_compra %>
  </p>

  <p>
    <strong>Frequencia:</strong>
    <%= tabela.frequencia %>
  </p>

  <p>
    <strong>Locacao:</strong>
    <%= tabela.locacao %>
  </p>

  <p>
    <strong>Sugestao1:</strong>
    <%= tabela.sugestao1 %>
  </p>

  <p>
    <strong>Sugestao2:</strong>
    <%= tabela.sugestao2 %>
  </p>

  <p>
    <strong>Sugestao3:</strong>
    <%= tabela.sugestao3 %>
  </p>

  <p>
    <strong>Sugestao4:</strong>
    <%= tabela.sugestao4 %>
  </p>

  <p>
    <strong>Sugestao5:</strong>
    <%= tabela.sugestao5 %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= tabela.comentario %>
  </p>

</div>
