<%- model_class = Tabela -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome_principal) %>:</strong></dt>
  <dd><%= @tabela.nome_principal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unidade) %>:</strong></dt>
  <dd><%= @tabela.unidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:celular) %>:</strong></dt>
  <dd><%= @tabela.celular %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @tabela.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cidade) %>:</strong></dt>
  <dd><%= @tabela.cidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profissao) %>:</strong></dt>
  <dd><%= @tabela.profissao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zap) %>:</strong></dt>
  <dd><%= @tabela.zap %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome1) %>:</strong></dt>
  <dd><%= @tabela.nome1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profissao1) %>:</strong></dt>
  <dd><%= @tabela.profissao1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parentesco) %>:</strong></dt>
  <dd><%= @tabela.parentesco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome2) %>:</strong></dt>
  <dd><%= @tabela.nome2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profissao2) %>:</strong></dt>
  <dd><%= @tabela.profissao2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parentesco2) %>:</strong></dt>
  <dd><%= @tabela.parentesco2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome3) %>:</strong></dt>
  <dd><%= @tabela.nome3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profissao3) %>:</strong></dt>
  <dd><%= @tabela.profissao3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parentesco3) %>:</strong></dt>
  <dd><%= @tabela.parentesco3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome4) %>:</strong></dt>
  <dd><%= @tabela.nome4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profissao4) %>:</strong></dt>
  <dd><%= @tabela.profissao4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parentesco4) %>:</strong></dt>
  <dd><%= @tabela.parentesco4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome5) %>:</strong></dt>
  <dd><%= @tabela.nome5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profissao5) %>:</strong></dt>
  <dd><%= @tabela.profissao5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parentesco5) %>:</strong></dt>
  <dd><%= @tabela.parentesco5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ano_compra) %>:</strong></dt>
  <dd><%= @tabela.ano_compra %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frequencia) %>:</strong></dt>
  <dd><%= @tabela.frequencia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:locacao) %>:</strong></dt>
  <dd><%= @tabela.locacao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sugestao1) %>:</strong></dt>
  <dd><%= @tabela.sugestao1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sugestao2) %>:</strong></dt>
  <dd><%= @tabela.sugestao2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sugestao3) %>:</strong></dt>
  <dd><%= @tabela.sugestao3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sugestao4) %>:</strong></dt>
  <dd><%= @tabela.sugestao4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sugestao5) %>:</strong></dt>
  <dd><%= @tabela.sugestao5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comentario) %>:</strong></dt>
  <dd><%= @tabela.comentario %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tabelas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tabela_path(@tabela), :class => 'btn btn-default' %>
<%= button_to t('.destroy', :default => t("helpers.links.destroy")),
              tabela_path(@tabela),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
